.trp-about-section {
	span {
		font-size: 20px;
		font-family: ProximaNovaRegular;
		color: #40474f;
	}
}

.trp-about-section-1 {
	background-color: #eefefe;
}

.trp-about-section-2 {
	background-color: #fff;
	img {
		margin: 200px 0 140px 0;
	}
}

.trp-about-hero {
	padding: 123px 0;
}