.trp-aco-hero {
	position: relative;
	overflow: hidden;
	.trp-aco-hero-img {
		@media (min-width: 2000px) {
			width: 100%;
		}
	}
	.trp-aco-hero-align {
		padding: 120px 0;
		max-height: 477px;
		@media (max-width: $screen-md-min) {
			padding: 100px 0;
		}
		@media (max-width: $screen-sm-min) {
			padding: 80px 0;
		}
		@media (max-width: $screen-xs-min) {
			padding: 50px 0;
		}
		img {
			@media (max-width: $screen-sm-min) {
				max-width: 50px;
			}
		}
	}
	.trp-hero-hospitals {
		padding: 80px 0;
		@media (max-width: 500px) {
			padding: 35px 0;
		}
	}
	.trp-aco-hero-img {
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
		position: absolute;
		@media (min-width: 2000px) {
			top: 0!important;
			bottom: 0!important;
			margin: 0 auto 0 auto!important;
		}
	}
	h1 {
		font-size: 70px;
		color: #fff;
		margin-top: 29px;
		margin-bottom: 25px;
		@media (max-width: $screen-md-min) {
			font-size: 40px;
		}
	}
	p {
		font-size: 23px;
		color: #fff;
		line-height: 32px;
		font-family: ProximaNovaLight;
		@media (max-width: $screen-md-min) {
			font-size: 18px;
		}
	}
	a {
		margin-bottom: 120px;
	}
}

.trp-aco-section {
	p {
		font-size: 20px;
		color: #56c2c1;
		margin-bottom: 0;
	}
	h2 {
		margin-top: 0;
		font-size: 40px;
	}
}

.trp-aco-section-text {
	margin: 50px 0;
	margin: 50px 0;
}

.trp-aco-section-2-img {
	img {
		@media (max-width: $screen-lg-min) {
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}

.trp-aco-section-2 {
	@media (max-width: $screen-md-min) {
		padding: 50px 0 0 0;
	}
}