.trp-contact {
	margin-top: 85px;
	margin-bottom: 134px;
}

.trp-contact-offices {
	img {
		width: 100%;
	}
	h2 {
		margin-top: 0;
		margin-bottom: 65px;
		font-size: 50px;
		font-family: ProximaNovaLight;
	}
	.trp-contact-number {
		margin-bottom: 75px;
		display: block;
		font-family: ProximaNovaLight;
		span {
			font-family: ProximaNovaRegular;
		}
	}
	span {
		font-family: ProximaNovaLight;
		font-size: 20px;
	}
	.trp-office-label {
		color: $brand-primary;
		display: block;
		margin-top: 35px;
		font-family: ProximanovaRegular;
	}
}

.trp-contact-form {
	.trp-contact-field-wrapper {
		position: relative;
	}
	i {
		color: #7ec5c4;
		margin-top: 27px;
		margin-left: 20px;
		display: block;
		position: absolute;
		z-index: 1;
	}
	h4 {
		text-transform: uppercase;
		color: $brand-primary;
		font-family: ProximaNovaBold;
		padding-bottom: 22px;
	}
	input {
		padding: 20px 40px;
	}
	input,
	textarea {
		font-size: 20px;
		width: 100%;
		font-family: ProximaNovaRegular;
	}
	input[type=email],
	input[type=text],
	textarea {
		background-color: #f2f2f2;
		padding-left: 40px;
		margin-bottom: 17px;
		border: none;
	}
	input[type=submit] {
		background-color: #e94d6e;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		border: none;
		font-size: 15px;
		padding: 10px 0;
		font-weight: bold;
		color: #fff;
		font-family: ProximaNovaBold;
		&:hover,
		&:active,
		&:focus {
			text-decoration: none!important;
			color: #fff!important;
			background-color: #dd2d52!important;
		}
	}
	textarea {
		padding-top: 20px;
		padding-right: 20px;
	}
}

.trp-contact-badges {
	margin-bottom: 50px;
	img {
		max-width: 100%;
	}
	hr {
		border-color: #f5f5f5;
		border-top-width: 3px;
	}
}

.wpcf7-not-valid-tip {
	display: none!important;
}
.wpcf7-not-valid {
	border: 3px solid #f35858!important;
}

.trp-invalid-field {
	i {
		color: #f35858;		
	}
}
.trp-valid-icon {
	color: #f35858;
	right: 23px;
	display: none!important;
}

.trp-valid-field {
	.trp-valid-icon {
		display: block!important;
	}
}

.wpcf7-response-output {
	display: none!important;
}

#trp-success-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: table;
	height: 100%;
	background-color: rgba(184, 217, 234, 0.65);
	z-index: 99999;
	.trp-success-overlay-helper {
		position: absolute;
		width: 100%;
		max-width: 814px;
		height: 100%;
		margin: auto;
		max-height: 490px;
		background: white;
		line-height: 224px;
		display: table;
		padding: 0 19%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	p {
		font-family: ProximaNovaLight;
		font-size: 40px;
		color: #959595;
		text-align: center;
		line-height: 100%;
		position: relative;
		height: 100%;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		max-width: 300px;
		span {
			display: block;
			font-size: 24px;
			color: #63c4c3;
			font-family: ProximaNovaBold;
			margin-top: 50px;
		}
	}
}