// hero section

.page-template-page-templateshome-php {
	header {
		background-color: #f5fefe;
		height: 150px;
	}
	.trp-home-masthead {
		background-color: #f5fefe;
		position: relative;
		img {
			width: 100%;
			margin: 120px 0 70px 0;
		}
		.row {
			display: table;
		}
		[class*="col-"] {
			float: none;
			display: table-cell;
			vertical-align: middle;
		}
		strong {
			display: block;
		}
		a {
			float: left;
		}
		h1 {
			margin-top: 0;
		}
	}
	.trp-home-masthead-bottom {
		background-color: #e1f7f7;
		height: 140px;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

// Features section

.trp-features-hospitals {
	.trp-feature {
		background-color: #80b2d9;
	}
}

.trp-features-facilities {
	.trp-feature {
		background-color: #63c4c3;
	}
}

.trp-features-orgs {
	.trp-feature {
		background-color: #a491ba;
	}
}

.trp-features {
	position: relative;
	margin-bottom: 66px;
	margin-top: 110px;
	h2 {
		font-size: 50px;
		font-family: ProximaNovaLight;
		color: #40474f;
		line-height: 56px;
		margin-bottom: 40px;
	}
	p {
		font-size: 20px;
		color: #40474f;
		font-family: ProximaNovaLight;
		line-height: 30px;
		strong {
			font-family: ProximaNovaBold;
		}
	}
	.row {
		margin-top: 70px;
	}
	.trp-feature {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 100%;
		margin: 0 15px;
		color: #fff;
		font-size: 20px;
		padding-top: 34px;
		img {
			max-width: 175px;
		}
		a {
			border: 2px solid #fff;
			border-radius: 50px;
			padding: 11px 20px;
			color: #fff;
			display: inline-block;
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}
		h4 {
			font-size: 22px;
			font-family: ProximaNovaBold;
			text-transform: uppercase;
		}
		p {
			color: #fff;
			line-height: 18px;
			font-size: 18px;
			padding: 0 30px;
			margin-bottom: 25px;
		}
	}
	.trp-feature-helper {
		margin-top: 100%;
	}
}

// use today section

.trp-use-today {
	background-color: #53c1c0;
	color: #fff;
	padding-top: 90px;
	padding-bottom: 124px;
	h2, span {
		font-family: ProximaNovaLight;
	}
	h2 {
		font-size: 50px;
	}
	span {
		display: block;
		font-size: 20px;
	}
	a {
		float: none;
		margin-top: 50px;
	}
}

// testimonials

.trp-testimonials {
	padding-bottom: 130px;
	padding-top: 100px;
	i {
		color: #53c1c0;
		font-size: 55px;
	}
	.trp-testimonial-title,
	.trp-testimonial-hospital-name,
	.trp-testimonial-name {
		color: #40474f;
	}
	.trp-testimonial-title {
		font-size: 32px;
		font-family: ProximaNovaLight;
		margin-bottom: 25px;
	}
	.trp-testimonial-hospital-name,
	.trp-testimonial-name {
		font-size: 18px;
		display: block;
		font-family: ProximaNovaRegular;
	}
	.trp-testimonial-name {
		text-transform: capitalize;
	}
	.trp-testimonial-hospital-name {
		font-style: italic;
	}
}

// mobile section

.trp-mobile-app-analytics,
.trp-mobile-app {
	background-color: #eefefe;
	.row {
		display: table;
	}
	[class*="col-"] {
		float: none;
		display: table-cell;
		vertical-align: middle;
		@media (max-width: $screen-md-min) {
			display: inline-block;
		}

	}
	img {
		margin-top: 64px;
		width: 100%;
	}
	h2 {
		font-size: 50px;
		color: #40474f;
		font-family: ProximaNovaLight;
	}
	li {
		font-size: 20px;
		color: #40474f;
		padding-bottom: 13px;
		font-family: ProximaNovaLight;
		list-style-type: none;
	}
	i {
		color: #53c1c0;
		margin-right: 13px;
	}
	ul {
		padding-top: 30px;
		padding-left: 0;
	}
}

.trp-mobile-app-analytics {
	background-color: #fff;
	img {
		margin: 125px 0;
		@media (max-width: $screen-md-min) {
			margin: 50px 0;
		}
	}
}