.skilled-nursing {
  .trp-mobile-app img, .trp-mobile-app-analytics img {
    width: 115%;
  }
  .trp-mobile-app li, .trp-mobile-app-analytics li {
    font-size: 18px;
  }
  .trp-mobile-app-analytics img {
    margin: -167px -70px;
    position: absolute;
  }
  .left-content {
    padding-top: 110px;
  }
  .trp-snf-section {
    margin-bottom: 115px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .skilled-nursing {
    .trp-aco-hero .trp-aco-icon{
      margin-top: 30px;
    }
  }
}
@media only screen and (max-width : 600px) {
  .skilled-nursing {
    .trp-aco-hero h1{
      font-size: 40px;
    }
    .trp-mobile-app [class*=col-], .trp-mobile-app-analytics [class*=col-]{
      display: block !important;
    }
    .trp-mobile-app-analytics img{
      margin: 0px;
      position: relative;
      width: 100%;
    }
    .trp-mobile-app img{
      width: auto;
    }
    .trp-aco-label{
      padding-top: 45px;
    }
  }
}
@media only screen and (max-width : 480px) {
  .skilled-nursing {
    .trp-aco-hero .trp-aco-icon{
      margin-top: 30px;
    }
    .trp-mobile-app-analytics img{
      margin: 0px;
      position: relative;
      width: 100%;
    }
    .trp-mobile-app img{
      width: auto;
    }
    .trp-aco-label{
      padding-top: 45px;
    }
  }
}

.page-template-page-templatesskilled-nursing-php {
  .navbar-default {
    border-color: #8ED071;
  }
}

.page-template-page-templateshospitals-php {
  .navbar-default {
    border-color: #80B2D9;
  }
}

.page-template-page-templatesaco-php {
  .navbar-default {
    border-color: #A491BA;
  }
}