@font-face {
    font-family: 'GramBold';
    src: url('../fonts/typesketchbook_-_gram.bold-webfont.eot');
    src: url('../fonts/typesketchbook_-_gram.bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/typesketchbook_-_gram.bold-webfont.woff2') format('woff2'),
         url('../fonts/typesketchbook_-_gram.bold-webfont.woff') format('woff'),
         url('../fonts/typesketchbook_-_gram.bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GramRegular';
    src: url('../fonts/typesketchbook_-_gram.regular-webfont.eot');
    src: url('../fonts/typesketchbook_-_gram.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/typesketchbook_-_gram.regular-webfont.woff2') format('woff2'),
         url('../fonts/typesketchbook_-_gram.regular-webfont.woff') format('woff'),
         url('../fonts/typesketchbook_-_gram.regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/*
proximanova-boldit-webfont.ttf
proximanova-bold-webfont.ttf
ProximaNova-Light.otf
proximanova-regitalic-webfont.ttf
ProximaNova-Regular.otf
*/