# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /marketingsite/desktop/trp/marketingsite/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /marketingsite/desktop/trp/marketingsite/index.php [L]
</IfModule>

# END WordPress
