.trp-footer {
  	ul{
		display: inline-block;
	}
	.trp-footer-copyright {
		display: inline-block;
		float: left;
		margin-right: 10px;
		@media (max-width: $screen-md-min) {
			float: none;
		}
	}
	h4 {
		text-transform: uppercase;
		color: #40474f;
		font-size: 18px;
		font-family: ProximaNovaBold;
		margin-bottom: 38px;		
	}
	background-color: #eefefe;
	padding-top: 40px;
	nav {
		ul {
			li {
				a {
					background-color: transparent;
					padding: 0;
					color: #53c1c0;
					margin-bottom: 10px;
					&:hover,
					&:active,
					&:focus {
						background-color: transparent;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.list-inline {
		i {
			font-size: 26px;
			color: #53c1c0;
		}
	}
	.social-menu {
		text-align: right;
		a {
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}
	}
	.bottom-footer {
		display: inline-block;
		width: 100%;
		margin-top: 50px;
		margin-bottom: 50px;
		@media (max-width: $screen-md-min) {
			text-align: center;
		}
		p {
			font-size: 16px;
			font-family: ProximaNovaRegular;
			color: #7d8792;

		}
	}
	.terms {
		text-align: right;
		margin-top: -14px;
		@media (max-width: $screen-md-min) {
			text-align: center;
			margin-top: 14px;
		}
		p {
			font-size: 16px;
			font-style: normal;
			margin-bottom: 2px;
		}
		ul {
			text-align: right;
			list-style: none;
			@media (max-width: $screen-md-min) {
				text-align: center;
				float: none !important;
				display: inline-block;
			}
			li {
				@media (max-width: $screen-md-min) {
					text-align: center;
				}
				padding-right: 0;
				text-align: right;
				float: left;
				margin-left: 10px;
			}
		}
	}
}

#mc-embedded-subscribe-form {
	label {
		display: block;
		font-family: ProximaNovaRegular;
		font-size: 18px;
		color: #7e8893;
		font-weight: initial;
	}
}

input#mce-EMAIL {
	border: none;
	height: 64px;
	width: 100%;
	max-width: 380px;
	padding-left: 22px;
	padding-right: 0px;
	margin: 0px;
	font-family: ProximaNovaRegular;
	font-size: 20px;
	float: left;
	@media (max-width: $screen-md-min) {
		float: none;
	}
	margin-right: -5px;
}

input#mc-embedded-subscribe {
	height: 64px;
	margin-left: -5px;
	border: none;
	width: 100%;
	max-width: 160px;
	padding: 0px;
	margin: 0px;
	background: #53c1c0;
	color: #fff;
	font-family: ProximaNovaRegular;
	font-size: 20px;
	float: left;
	@media (max-width: $screen-md-min) {
		float: none;
	}
}

label[for='mce-EMAIL'] {
	color: #53c1c0!important;
}