.trp-footer{
  height: 450px;
  background-color: #eefefe;
  padding-top: 80px;
  nav ul li a{
          color: #53c1c0;
  }
  .social-menu{
    text-align: right;
  }
  .bottom-footer{
    padding-top: 20px;
  }
  .terms{
    text-align: right;
    ul{
      text-align: right;
      list-style: none;
      li{
        text-align: right;
        float: left;
        margin-left: 10px;
      }
    }
  }

}