.trp-template-header {
	height: 236px;
	background-color: $brand-primary;
	.trp-template-header-content {
		padding-top: 85px;
		color: #fff;
	}
	h1 {
		font-size: 70px;
		margin: 0;
	}
}

.navbar-brand {
	img {
		max-width: 270px;
		margin-top: -25px;
	}
}

.navbar {
	margin-bottom: 0;
	height: 150px;
	& > .container {
		margin-top: 47px;
	}
}

.navbar-default {
	background-color: #fff;
	text-transform: uppercase;
	border-top: 12px solid #63c4c3;
	border-bottom: none;
	a {
		font-family: ProximaNovaRegular;
		font-size: 18px;
		color: #89929b!important;
		&:hover,
		&:active,
		&:focus {
			color: #6bcbca!important;
		}
	}
	.active {
		a {
			background-color: transparent!important;
			color: $brand-primary!important;
		}
	}
}